<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ensias.personalhealthmonitor">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.ensias.personalhealthmonitor.MyCalendarDoctorActivity"/>
        <activity android:name="com.ensias.personalhealthmonitor.TestActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.AppointementActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.FicheInfo" />
        <activity android:name="com.ensias.personalhealthmonitor.PatientInfoActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.DossierMedical" />
        <activity android:name="com.ensias.personalhealthmonitor.ChatActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.PatientRequestPage" />
        <activity android:name="com.ensias.personalhealthmonitor.DoctorHomeActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.EditProfileDoctorActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.ConfirmedAppointmensActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.PatientAppointementsActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.ProfilePatientActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.MyDoctorsAvtivity" />
        <activity android:name="com.ensias.personalhealthmonitor.ProfileDoctorActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.EditProfilePatientActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.DoctorAppointementActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.FicheActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.MyPatientsActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.SearchPatActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.FirstSigninActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.HomeActivity" />
        <activity android:name="com.ensias.personalhealthmonitor.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>